.footer-links {
  width: 160px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F4F5F7;
  margin-bottom: 32px;
  cursor: pointer;
}

.col-flex-gap-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #EEEFF4;
  cursor: pointer;
}

.title:hover, .link:hover {
  color: crimson;
}
