<div class="cta center">
  <div class="container center center-y gap-22">
    <div class="width-821">
      <h1 class="title">Complex Questions?</h1>
      <p class="content">Request for a personalized budget for your legal problem. We will send you a coupe options in 24 hours. You can have free consult , if a our first customer</p>
      <div class="button center center-y gap-button">
        <img src="./assets/cta/call.png" alt="call"/>
        <p class="call-text">Call now</p>
      </div>
    </div>
    <img class="person-photo" src="./assets/cta/person.png" alt="person"/>
  </div>
</div>
