.big-title {
  position: absolute;
  width: 875px;
  top: 150px;
  left: 161px;

  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094B72;
}
