<div class="achievement center center-y">
  <div class="container">
    <app-achievement-text [text]="texts[0]"></app-achievement-text>
    <div class="center center-y mt-48">
      <table>
        <tr>
          <td>
            <app-achievement-text [text]="texts[1]"></app-achievement-text>
          </td>
          <td>
            <app-achievement-text [text]="texts[2]"></app-achievement-text>
          </td>
          <td>
            <app-achievement-text [text]="texts[3]"></app-achievement-text>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
