.testimonial {
  height: 610px;
  background-color: #F2F7FF;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;

  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: 'salt' on, 'liga' off;

  color: #2D2F30;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 51px;
}
