<div class="testimonial center">
  <div class="container flex-col">
    <h1 class="title">Clients Testimonial</h1>
    <div class="reviews">
      <div *ngFor="let review of reviews">
        <div class="card">
          <h1 class="card-title">{{review.reviewTitle}}</h1>
          <p class="card-content">{{review.reviewContent}}</p>
        </div>
        <div class="user">
          <img [src]="review.imgPath" alt="user"/>
          <div class="name-occupation">
            <p class="name">{{review.name}}</p>
            <p class="occupation">{{review.occupation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
