.why {
  height: 786px;
  background-color: #F2F7FF;
}

.cards {
  width: 540px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.text-cards {
  display: flex;
  justify-content: center;
  gap: 53px;
}

.text {
  width: 419.31px;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;

  color: #2D2F30;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;

  margin-top: 25px;
  padding-left: 8px;

  color: #8B8C8C;
}

.card {
  width: 255px;
  height: 255px;

  background-color: #FCFCFC;
  box-shadow: 0 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  background-color: #FFFFFF;
}

.card-wrapper {
  padding: 24px;
}

.card-img {
  margin-bottom: 24px;
}

.card-title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  letter-spacing: 0.5px;

  color: #363940;

  margin-bottom: 10px;
}

.card-content {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.3px;

  color: #8B8C8C;
}
