<div class="why center">
  <div class="container text-cards center-y">
    <div class="text">
      <h1 class="title">Why do we help with legalization?</h1>
      <p class="content">We are here for UMKM in Indonesia to carry out the legalization process, which is sometimes complicated.</p>
    </div>
    <div class="cards">
      <div class="card" *ngFor="let card of cards">
        <div class="card-wrapper">
          <img class="card-img" [src]="card.path" alt="card img"/>
          <h3 class="card-title">{{card.title}}</h3>
          <p class="card-content">{{card.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
