.logo-group {
  width: 144px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo-photo {
  width: 36px;
  height: 36px;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2D2F30;
  mix-blend-mode: normal;
}
