.text {
  width: 419.31px;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;

  color: #2D2F30;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;

  margin-top: 25px;
  padding-left: 8px;

  color: #8B8C8C;
}
