.button {
  position: absolute;
  width: 190px;
  height: 80px;
  left: 165px;
  top: 530px;

  background: #094B72;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.button-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140.5%;

  letter-spacing: 0.08em;
  color: #F9F8F9;
}

.button:hover {
  transform: scale(1.1);
}
