.sub-footer {
  height: 70px;
  background: #004D7B;
}

.container-small {
  width: 1100px;
}

.sub-logo-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  font-feature-settings: 'salt' on, 'liga' off;

  color: #D9DBE1;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  max-width: 144px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

.social-icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.75);
}
