.link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2D2F30;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.link:hover {
  transform: scale(1.2);
}
